<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <!-- banner1 -->
      <div class="banner">
        <a href="/productos"><img id="bannerImg" src="/img/home/banner 0 fixed.gif" alt="Banner Image"></a>
        <!-- <a href="#" class="banner-button">Ver Productos</a> -->
      </div>
      <div class="text-container">
        <h1>Conoce nuestros productos destacados:</h1>
        <a class="downB"><i class="fa-solid fa-angles-down"></i></a>
      </div>
      <!-- carousel -->
      <div class="carousel" id="carousel">
        <div class="list">
          <%- include('partials/container-home-products', { productos: productos }); %>
        </div>
        <div class="arrows">
          <button id="prev"><</button>
          <button id="next">></button>
        </div>
      </div>
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
  </body>
</html>

