<div class="card-product-recommendation">
  <img src="<%= producto.image %>" alt="Imagen de producto" />
  <% function formatCurrency(amount) { %>
    <% return `$ ${new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits: 2 }).format(amount).replace('COP', '').trim()}`;}%>
  <div class="header-botton-recommendation">
    <h4 class="title-recommendation"><%= producto.name %></h4>
    <div class="price-and-discount">
      <p class="price-1">$<%= formatCurrency((producto.price * 1.25).toFixed(2)) %></p>
      <p class="discount">25%</p>
    </div>
    <p class="price-2">$<%= formatCurrency(producto.price.toFixed(2)) %></p>
    <div class="botton-info-card-product">
      <a href="/productos/<%= producto.id %>">Ver Detalle</a>
      <button id="btn-recommendation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path d="M17.9092 12.1905C18.8047 12.1905 19.5373 11.5048 19.5373 10.6667V7.61905H22.7935C23.689 7.61905 24.4217 6.93333 24.4217 6.09524C24.4217 5.25714 23.689 4.57143 22.7935 4.57143H19.5373V1.52381C19.5373 0.685714 18.8047 0 17.9092 0C17.0138 0 16.2811 0.685714 16.2811 1.52381V4.57143H13.0249C12.1294 4.57143 11.3968 5.25714 11.3968 6.09524C11.3968 6.93333 12.1294 7.61905 13.0249 7.61905H16.2811V10.6667C16.2811 11.5048 17.0138 12.1905 17.9092 12.1905ZM9.76866 25.9048C7.97774 25.9048 6.52872 27.2762 6.52872 28.9524C6.52872 30.6286 7.97774 32 9.76866 32C11.5596 32 13.0249 30.6286 13.0249 28.9524C13.0249 27.2762 11.5596 25.9048 9.76866 25.9048ZM26.0498 25.9048C24.2588 25.9048 22.8098 27.2762 22.8098 28.9524C22.8098 30.6286 24.2588 32 26.0498 32C27.8407 32 29.306 30.6286 29.306 28.9524C29.306 27.2762 27.8407 25.9048 26.0498 25.9048ZM11.5596 18.2857H23.689C24.9101 18.2857 25.9846 17.661 26.5382 16.7162L31.8133 7.36C32.2203 6.62857 31.9435 5.71429 31.162 5.31809C30.3643 4.90667 29.3711 5.19619 28.9478 5.94286L23.689 15.2381H12.2597L5.32392 1.52381H1.62811C0.73265 1.52381 0 2.20952 0 3.04762C0 3.88571 0.73265 4.57143 1.62811 4.57143H3.25622L9.11742 16.1371L6.91947 19.8552C5.73095 21.8971 7.29393 24.381 9.76866 24.381H27.6779C28.5733 24.381 29.306 23.6952 29.306 22.8571C29.306 22.019 28.5733 21.3333 27.6779 21.3333H9.76866L11.5596 18.2857Z" fill="#FAFEFE"/>
        </svg>
      </button>
    </div>
  </div>
</div>
