<div class="card-product-detail">
  <img src="<%= producto.image %>" alt="Imagen de producto" />
  <div class="product-info">
    <% function formatCurrency(amount) { %>
      <% return `$ ${new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits: 2 }).format(amount).replace('COP', '').trim()}`;}%>
    <div class="header-botton-detail">
      <h4 class="title-detail"><%= producto.name %></h4>
      <div class="price-and-discount">
        <p class="price-1"><%= formatCurrency((producto.price * 1.25).toFixed(2)) %></p>
        <p class="discount">-25%</p>
      </div>
      <div class="botton-info-card-product">
        <p class="price-2"><%= formatCurrency(producto.price.toFixed(2)) %></p>
        <button class="btn-add-product-cart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
          >
            <path
              d="M6.60541 16C5.48609 16 4.58045 16.9 4.58045 18C4.58045 19.1 5.48609 20 6.60541 20C7.72474 20 8.64055 19.1 8.64055 18C8.64055 16.9 7.72474 16 6.60541 16ZM16.7811 16C15.6618 16 14.7561 16.9 14.7561 18C14.7561 19.1 15.6618 20 16.7811 20C17.9004 20 18.8162 19.1 18.8162 18C18.8162 16.9 17.9004 16 16.7811 16ZM18.8162 14C18.8162 13.45 18.3583 13 17.7987 13H6.60541L7.72474 11H15.3056C16.0688 11 16.7404 10.59 17.0864 9.97L20.3833 3.83C20.6377 3.35 20.4647 2.75 19.9763 2.49C19.4777 2.22 18.8569 2.41 18.5924 2.9L15.3056 9H8.16229L4.10219 0.57C3.93938 0.22 3.57306 0 3.18638 0H1.51757C0.957906 0 0.5 0.45 0.5 1C0.5 1.55 0.957906 2 1.51757 2H2.53514L6.19838 9.59L4.82467 12.03C4.08184 13.37 5.05871 15 6.60541 15H17.7987C18.3583 15 18.8162 14.55 18.8162 14ZM10.9708 0.71C11.3676 0.32 12.0087 0.32 12.4056 0.71L15.0411 3.3C15.4379 3.69 15.4379 4.32 15.0411 4.71L12.4056 7.3C12.0087 7.69 11.3676 7.69 10.9708 7.3C10.5739 6.91 10.5739 6.28 10.9708 5.89L11.8662 5H8.64055C8.08089 5 7.62298 4.55 7.62298 4C7.62298 3.45 8.08089 3 8.64055 3H11.8662L10.9708 2.12C10.5739 1.73 10.5739 1.1 10.9708 0.71Z"
              fill="#FAFEFE"
            />
          </svg>
          Añadir al carrito
        </button>
      </div>
    </div>
    <div class="content-description">
      <h3>Descripción de Producto</h3>
      <p><%= producto.description %></p>
    </div>
  </div>
</div>
<div class="content-description">
  <%- include('perks'); %>
</div>

